<!DOCTYPE html>
<html>
    <%include par/head %>
    <%include par/nav%>
  <body>

<div class="container-fluid">
    <!-- row -->
<div class="row">
  <div class="col" style="background-color:white">
<div class="card">
  <div class="card-body">
    <h1><%= title %></h1>

  </div>
  </div>

   </div>
   </div>

    <!-- row -->

<div class="row">

<div class="col-md-3" style="background-color:lavender">

   </div>

  <div class="col-md-9" style="background-color:white">
      <%= title %>

  </div>

    
</div>

    <!-- row end -->
</div>
  </body>
</html>
