<!DOCTYPE html>
<html>
    <%include par/head %>
    <%include par/nav%>
  <body>

<div class="container-fluid">
    <!-- row -->
<div class="row">
    <div class="col" >
<div class="card">
  <div class="card-body">
    <h4 align="center">index</h4>
<div class="row">
    <% for (var i=0;i<ls.length;i++){ %>
<div class="col">
    <a href="type-<%= ls[i].name %>">
    <img src="ppcandy/<%= ls[i].name %>.jpg" width=150>
    </a>
    <br>
<%= ls[i].name %>
</div>
    <% } %>
</div>

    <br>
  </div><!-- body -->
  </div><!-- card -->



   </div><!-- col -->
   </div><!-- row -->


<div class="row"><!-- row -->

<div class="col-md-3" style="background-color:lavender">
</div><!-- col 3 -->

  <div class="col-md-9" style="background-color:white">
      <%= title %>
  </div><!-- col9 -->

    
</div><!-- row -->

</div><!-- cont -->
  </body>
</html>
